# IDE
.vscode/
.idea/

# Logs
error_log
*.log

# Environment variables (if added later)
.env

# Uploaded Media (ignore contents, keep folder)
assets/images/uploads/*
!assets/images/uploads/.gitkeep
assets/images/services/*
!assets/images/services/.gitkeep

# MacOS
.DS_Store
